<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @proposal.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @proposal.title %>
</p>

<p>
  <strong>Job:</strong>
  <%= @proposal.job_id %>
</p>

